@font-face {
  font-family: "3";
  src: url("fonts/3.ttf");
}
@font-face {
  font-family: "6";
  src: url("fonts/6.ttf");
}
@font-face {
  font-family: "13";
  src: url("fonts/13.ttf");
}
@font-face {
  font-family: "34";
  src: url("fonts/34.ttf");
}
@font-face {
  font-family: "38";
  src: url("fonts/38.ttf");
}
@font-face {
  font-family: "97";
  src: url("fonts/97.ttf");
}
@font-face {
  font-family: "134";
  src: url("fonts/134.ttf");
}
@font-face {
  font-family: "194";
  src: url("fonts/194.ttf");
}
@font-face {
  font-family: "197";
  src: url("fonts/197.ttf");
}
@font-face {
  font-family: "202";
  src: url("fonts/202.ttf");
}
@font-face {
  font-family: "213";
  src: url("fonts/213.ttf");
}
