<div class="window screens">
    <div class="wtitle">
        <img class="wbutton" src="/img/design/pixel.gif" alt=""/>
        <span>Register</span>
    </div>

    <div class="container">
        <div class="register">
            <form method="POST" action="/register">
                <label for="username">Username:</label><br>
                <input type="text" class="field" name="username"><br>
                <input type="submit" class="button" value="Register">
            </form>
        </div>
    </div>
</div>