<div class="window screens">
    <div class="wtitle">
        <img class="wbutton" src="/img/design/pixel.gif" alt=""/>
        <span>intrusion.prg -- connect=123456</span>
    </div>

    <div class="container">
        <div class="client">
            <div class="sidePanel">
                <div id="sideContent"></div>
            </div>
            <div class="swf" id="swf_game">
                <canvas id="main" />
            </div>
            <div class="briefingPanel">
                <div id="briefingContent"></div>
            </div>
        </div>
    </div>
</div>
<script>

window.init = "::init::";

</script>
<script src="/client.js">
</script>
