name: Continuous Integration

on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Haxe
        uses: krdlab/setup-haxe@v2.0.2
        with:
          haxe-version: 4.3.7
      
      - name: Install dependencies
        run: |
          haxelib install haxelib.json
          haxelib install utest
      
      - name: Run tests
        run: haxe test.hxml
